# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
app/bin
app/build

# Ignore Gradle logs
*.log

### Own ###
.vscode/

## DO NOT REMOVE ##
.env
.env/

#Intellij
.idea
